* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "merriweather", sans-serif;
  background-color: #ebf2fe;
  overflow-x: hidden;
  transition: 0.5s;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

section {
  margin: 4rem 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fafc;
  box-shadow: 0 10px 15px -3px rgb(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.navbar_brand {
  width: 100px;
}

.brand_logo {
  width: 100px;
}

.navbar_nav_item {
  display: flex;
}

.button_primary {
  background-image: linear-gradient(
    to right,
    #ff512f 0px,
    #dd2476 51%,
    #ff512f 100%
  );
}

.button_primary {
  margin: 5px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  font-weight: 600;
  background-size: 200% auto;
  color: white;
  border-radius: 4px;
  box-shadow: 0 0 20px #eee;
  display: block;
}

.button_primary:hover {
  background-position: right center;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.hero_image_container {
  position: relative;
  width: 100%;
}

.hero_image {
  position: absolute;
  width: 100%;
  right: auto;
  left: auto;
  z-index: 2;
  border-radius: 6px;
  box-shadow: 0 25px 50px -12px rgb(0, 0, 0, 0.25);
}

.hero_image_shape {
  position: absolute;
  right: 2;
}

.hero_description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero_text {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #1d3557;
  font-weight: 900;
}

.video_footage_container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.video_footage {
  position: relative;
}

.video_footage::before {
  background-image: linear-gradient(
    to right,
    #ff512f 0px,
    #dd2476 51%,
    #ff512f 100%
  );
  content: " ";
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(1rem, 1rem);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.video_footage_text {
  margin-top: 2rem;
  color: #1d3557;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}

.food_list_container {
  position: relative;
  margin: 5rem 0;
  text-align: center;
}

.food_menu_card_list {
  width: 100%;
}
.food_menu_card {
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 100%;
}

.food_card_menu_image {
  border-radius: 6px 6px 0 0;
  width: 100%;
}
.food_menu_card:hover {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

.food_menu_card_details {
  padding: 1rem;
  text-align: left;
  color: #1d3557;
}

.food_menu_card_title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #1d3557;
  font-weight: 900;
}
.food_menu_card_view_more {
  margin: 2rem 0;
  transition: 0.3s;
  color: #fff;
  padding: 1rem;
  border-radius: 6px;
  background: linear-gradient(to right, #ff512f 0px, #dd2476 51%, #ff512f 100%);
}

.restaurant_list_container {
  margin-top: 3rem;
  text-align: center;
}

.restauant_list_text {
  margin: 1rem 0;
}

.restaurant_list_raw_1 {
  display: flex;
  align-items: baseline;
}

.restaurant_list_raw_2 {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.restaurant1,
.restaurant3 {
  border-radius: 4px;
  margin: 0 5px;
  width: 150px;
  height: 80px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.restaurant2,
.restaurant4 {
  border-radius: 4px;
  margin: 0 5px;
  width: 200px;
  height: 100px;
  border-radius: 0 10px 15px -3px rgb(0 0 0 / 10%),
    0 4px 6px -2px rgb(0 0 0 / 5%);
}

.text-x1 {
  font-size: 1.8rem;
  line-height: 2rem;
  color: #1d3557;
  font-weight: 900;
}

.update_email_container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

.email_update_field {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
}

.email_input {
  padding: 6px;
  border-radius: 2px;
  width: 100%;
}

.quote_container {
  position: relative;
  margin-top: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  border-radius: 13px;
  background: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80")
    center center / cover no-repeat;
}

.quote_image_overlay {
  position: absolute;
  height: 200px;
  width: 100%;
  border-radius: 13px;
  background-color: #0a4065;
  opacity: 49%;
}

.quote_image_text {
  color: #fff;
  z-index: 3;
  margin: 0 1rem;
  text-align: center;
}

footer {
  border-radius: 1rem 1rem 0px 0px;
  background-image: linear-gradient(
    to right,
    rgb(255, 81, 47) 0%,
    rgb(221, 36, 118) 51%,
    rgb(255, 81, 47) 100%
  );
}
.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
}

footer > img {
  width: 300px;
  filter: brightness(0) invert(1);
}

footer > ul {
  margin-top: -1rem;
  color: #fff;
}

footer > ul > li {
  margin: 5px 0;
}

@media (min-width: 786px) {
  .hero_image {
    margin-top: 2rem;
  }
  .hero_container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .hero_image {
    margin-top: 2rem;
  }
  .video_footage_text {
    margin-left: 2rem;
  }
  .video_footage {
    margin-right: 2rem;
  }
  .video_footage_container {
    display: flex;
    flex-direction: column;
  }
  .food_list_container {
    position: relative;
    margin: 5rem 0;
  }
  .food_menu_card_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2rem;
  }
  .food_menu_card {
    flex-basis: 30%;
    background-color: white;
    border-radius: 6px;
  }
  .food_menu_card_move_up {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }
  .food_list_container_diagonal {
    left: 0px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: skewY(-5deg);
    background-image: linear-gradient(
      to right,
      #ff512f 0px,
      #dd2476 51%,
      #ff512f 100%
    );
    z-index: -3;
  }
  .restaurant_list_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .restaurant_list_raw_1 {
    justify-content: center;
  }
  .restaurant2 {
    margin-top: 3px;
    align-items: flex-start;
    justify-content: center;
  }
  .text-xl {
    font-size: 1.875rem;
    line-height: 5.2rem;
  }
  .food_menu_card_view_more {
    background: none;
  }
  .quote_container {
    height: 300px;
    width: 100%;
  }
  .quote_image_overlay {
    position: absolute;
    height: 300px;
    width: 100%;
    border-radius: 13px;
    background-color: #0a4065;
    opacity: 49%;
  }
  .quote_image_text {
    color: #fff;
    z-index: 3;
    margin: 0 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
  }

  footer {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .navbar {
    padding: 0 3rem;
  }
  .button_primary {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .hero_text {
    font-size: 2.5rem;
    line-height: 1;
    padding-bottom: 0.5rem;
  }
  .food_menu_card_list {
    margin-top: 2rem;
  }
  .food_menu_card_view_more {
    margin-top: 4rem;
    cursor: pointer;
  }
  .text-x1 {
    font-size: 2.2rem;
    line-height: 1;
  }
  .footer_container {
    display: flex;
    flex-direction: row;
  }
  .food_menu_card_view_more {
    background: none;
    cursor: pointer;
  }
  .food_menu_card_view_more:hover {
    background: #fff;
    color: #3d2c34;
    margin: 4rem 20rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
  }
}
